<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Семяк</title>
</head>
<body>
<h1>Доброго дня</h1>
<h2>Разбор уровней заголовков</h2>
<br>
<a href="https://vk.com/d.semyak" target="_blank">Моя страница вконтакте</a>
<br>
<img src="https://media.kg-portal.ru/anime/b/berserk/images/berserk_94.jpg"
     alt="Грифит"
     width="400px">
<br>
<h3>Лучшие языки программирования</h3>
<ul>
    <li> <a href="https://www.python.org/">Python</a> </li>
    <li> <a href="https://www.java.com/">Java</a> </li>
    <li> <a href="https://www.php.net/">PHP</a> </li>
    <li> <a href="https://kotlinlang.org/">Kotlin</a> </li>
</ul>
<h3>Любимые блюда (упорядоченный список)</h3>
<ol>
    <li>Мясо</li>
    <li>Рыба</li>
    <li>Салат</li>
    <li>Омлет</li>
</ol>

</body>
</html>